$contactWidth: 200px;
$contactHeight: 270px;

.contactContainer {
  margin: 10px 10px 10px 10px;
  width: $contactWidth;
  height: $contactHeight;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  align-items: flex-start;

  .contactImage {
    object-fit: cover;
    width: $contactWidth;
    /* height is defined in jsx */
  }

  .contactIndicatorIcon {
    position: relative;
    left: 15px;
    margin-top: -19px;
    margin-bottom: 15px;
  }

  .contactText {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #ababab;
    font-size: 12px;
    word-break: break-word;
  }

  .contactTitle {
    font-weight: bold;
    font-size: 16px;
  }
}

.dummyContact {
  visibility: hidden;
}
