@import '../style/responsiveSizes.scss';

$searchBoxWidthDesktop: 300px;
$searchBoxWidthMobile: 100px;

$searchBoxHeight: 30px;
$searchBoxIconSize: $searchBoxHeight * 2 / 3;

.searchBox {
  @media screen and (max-width: $mobileBreak) {
    width: $searchBoxWidthMobile;
    background-position: $searchBoxWidthMobile + $searchBoxHeight 50%;
  }
  @media screen and (min-width: $mobileBreak + 1px) {
    width: $searchBoxWidthDesktop;
    background-position: $searchBoxWidthDesktop + $searchBoxHeight 50%;
  }
  height: $searchBoxHeight;
  border-style: none;
  border-radius: $searchBoxHeight;
  padding-left: $searchBoxHeight;
  padding-right: $searchBoxHeight;
  background-image: url('../assets/search-icon.svg');
  background-repeat: no-repeat;
  background-size: $searchBoxIconSize $searchBoxIconSize;
  outline: none;

  &::placeholder {
    color: #cccccc;
  }
}
