@import '../style/colors.scss';

.topBarContainer {
  width: 100%;
  height: 50px;
  background-color: $mainColor;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    position: relative;
    left: 5%;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    color: white;
  }

  .searchBoxWrapper {
    position: relative;
    right: 3%;
  }
}
